body {
    height: 100%;
    width: 100%;
    background: url('images/dice.jpg') no-repeat center fixed;
    background-size: cover;
}
.help {
    height:150px;
}
#button1,#button2 {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-weight: bold;
}
.row {

}
.flex-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.column {
    float: left;
    width: 50%;
    padding: 15px;
    background-color: rgb(255,228,225,0.7);
}
.column:hover {
    box-shadow: 10px 10px 20px;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }
#oneBoard,#twoBoard {
    height: 210px;
    width: 250px;
    text-align: center;
}
#restartButton {
    text-align: center;
}
#restart {
    visibility: hidden;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}